<nav class="navbar top-navbar navbar-fixed-top"> 
   <div class="navbar-nav col-2">
      <a class="navbar-brand" href="/">Home</a>
   </div>
   <div class="navbar-nav col-4">
      <div class="row d-flex justify-content-between">
         <div><a class="nav-item nav-link" href="/blog">Blog</a></div>
         <div><a class="nav-item nav-link" href="/podcast">Podcast</a></div>
         <div><a class="nav-item nav-link" href="/programming">Programming</a></div>
         <div><a class="nav-item nav-link" href="/drugs">Drug Education</a></div>
         <div><a class="nav-item nav-link" href="/teaching">Teaching</a></div>
      </div>
   </div>

   <div class="navbar-nav col-2">
   </div>
   
</nav>