<turbo-frame id="header">
   <nav class="grid xl:grid-cols-4 sm:grid-cols-1 py-2 xl:bg-emerald-900 xl:py-2"> 
      <div class="xl:col-span-1 bg-emerald-900">
         <div class="ml-2 mt-2 mb-2"><a href="/" data-turbo-action="replace" data-turbo-frame="body"><i class="fa-solid fa-house-chimney"></i></a></div>
      </div>
      <div class="xl:col-span-3 sm:col-span-1 xl:columns-5 sm:columns-1 text-slate-300">
         <%= raw [ 
               { url: "/blog", text: "Blog" },
               { url: "/podcast", text: "Podcast" },
               { url: "/programming", text: "Programming" },
               { url: "/drugs", text: "Drug Education" },
               { url: "/teaching", text: "Teaching" },
            ].map { |data| 
               render template: 'shared/buttons/_menu_button', locals: data
            }.join("\n") 
         %>
      </div>
   </nav>
</turbo-frame>