<nav class="grid xl:grid-cols-4 sm:grid-cols-1 py-2 xl:bg-emerald-900 xl:py-2"> 
   <div class="xl:col-span-1 bg-emerald-900">
      <div class="ml-2 mt-2 mb-2"><a href="/"><i class="fa-solid fa-house-chimney"></i></a></div>
   </div>
   <div class="xl:col-span-3 sm:col-span-1 xl:columns-5 sm:columns-1 text-slate-300">
      <div class="my-1 py-1 text-center bg-emerald-900 rounded border-solid border-red-500"><a class="" href="/blog">Blog</a></div>
      <div class="my-1 py-1 text-center bg-emerald-900 rounded border-solid border-red-500"><a class="" href="/podcast">Podcast</a></div>
      <div class="my-1 py-1 text-center bg-emerald-900 rounded border-solid border-red-500"><a class="" href="/programming">Programming</a></div>
      <div class="my-1 py-1 text-center bg-emerald-900 rounded border-solid border-red-500"><a class="" href="/drugs">Drug Education</a></div>
      <div class="my-1 py-1 text-center bg-emerald-900 rounded border-solid border-red-500"><a class="" href="/teaching">Teaching</a></div>
   </div>
</nav>