<nav class="grid md:grid-cols-4 sm:grid-cols-1"> 
   <div class="md:col-span-1">
      <a class="" href="/"><i class="fa-solid fa-house-chimney"></i></a>
   </div>
   <div class="md:col-span-3 sm:col-span-1 md:columns-5 sm:columns-1">
      <div class="">
         <div><a class="nav-item nav-link" href="/blog">Blog</a></div>
         <div><a class="nav-item nav-link" href="/podcast">Podcast</a></div>
         <div><a class="nav-item nav-link" href="/programming">Programming</a></div>
         <div><a class="nav-item nav-link" href="/drugs">Drug Education</a></div>
         <div><a class="nav-item nav-link" href="/teaching">Teaching</a></div>
      </div>
   </div>
</nav>