<div class="row py-5">
  <div class="col-12">
    <h1 class="text-center text-primary">Drug Education Training</h1>
  </div>
</div>
<div class="row py-1">
  <div class="col-8">
    <p class="lead">
      This is the first draft of the training programme.  It will be improved and expanded over time.
    </p>
  </div>
</div>

<div class="row py-5">
  <div class="col text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/sU5rz9HCisM" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>