<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @volunteer.email %>
</p>

<%= link_to 'Edit', edit_admin_volunteer_path(@volunteer) %> |
<%= link_to 'Back', admin_volunteers_path %>
