<div class="row py-5">
  <div class="col-12">
    <h1 class="text-center">Admin Panel</h1>
  </div>
</div>

<div class="row py-5">
  <div class="col-3">
    <%= link_to 'Blog Posts', admin_blog_posts_path %>
  </div>

  <div class="col-3">
    <%= link_to 'Blog Categories', admin_blog_categories_path %>
  </div>
</div>


<div class="row py-5">
  <div class="col-12">
   Fragments
  </div>

  <div class="col-3">
    <%= link_to 'Content Types', admin_content_types_path %>
  </div>

  <div class="col-3">
    <%= link_to 'Documents', admin_documents_path %>
  </div>

</div>

