<% if blog_post.document.present? %>
  <%= render partial: "admin/documents/content_templates/document", locals: {document: blog_post.document, theme: "medium"} %>
  <% if blog_post.published_at.present? %>
    <div class="row py-1">
      <div class="col-12">
        <p class="text-right">(Published on <%= blog_post.published_at.strftime("%e %b %Y") %>)</p>
      </div>
    </div>
  <% end %>
  <a href="https://richardhowellpeak.com/blog/<%= blog_post.slug %>">View the original article here</a>
<% end %>