<turbo-frame id="body">
  <div class="row my-5">
    <div class="col-12">
      <h1 class="text-left">Teaching </h1>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-6">
      <p class="lead">
        I do one-to-one tutoring, for Maths, Computer Science, Economics and Physics.
      </p>

      <p class="text-spaced text-justify">
        
      </p>
      
    </div>
  </div>
</turbo-frame>
