<div class="row my-5">
  <div class="col-12">
    <h1 class="text-left">Drug Education </h1>
  </div>
</div>

<div class="row my-5">
  <div class="col-6">
    <p class="lead">
      I do drug education lectures
    </p>

    <p class="text-spaced text-justify">
      Lecture is maybe the wrong word for this, but I do a presentation.  I give people the Science behind drugs, what they do to people, 
      and let people choose for themselves what they want to do. <br/>
    </p>
    
  </div>
</div>


<div class="row my-5">
  <div class="col-6">
    <p class="lead">
      Get involved
    </p>

    <p class="text-spaced text-justify">
      If you want to help share this information with other people, then I also have a training program for volunteers who want to be involved.
      Start by watching my training lecture, I will be expanding the training available over time.
    </p>
    
  </div>

   <div class="col-6">
    <div class="card ml-5">
      <div class="card-header"> <p class="text-center">Enter Training Site </p> </div>
      <div class="card-body"> 
        <%= form_with(url: "/drugs/training", method: "post") do |form| %>
          <div class="row my-2">
            <div class="col text-center">Email: <%= form.email_field :email, required: true %> </div>
          </div>

          <div class="row my-2">
            <div class="col text-center">
              <%= submit_tag("Enter Training", {class: "btn btn-primary w-50"}) %>
               </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>