<turbo-frame id="body">
  <%= render template: "shared/pages/_page_title", locals: { text: "Programming" } %>

  <div class="grid grid-cols-2 py-5 px-5">
    <div class="xl:grid-span-1">
      <h6 class="text-left text-2xl"> Web Development</h6> <br/>
      <div class="text-spaced text-justify px-5">
        I've got experience building web applications, mainly backend. <br/> <br/>
        I've got experience in the following programming languages and frameworks: <br/> <br/>
        <ul class="list-disc">
          <li>Ruby on Rails</li>
          <li>Typescript and Node APIs </li>
          <li>Vue.js</li>
          <li>PHP (Codeigniter and Laravel)</li>
        </ul> <br/>
        In terms of database technologies, my main experience is in: <br/> <br/>
        <ul class="list-disc">
          <li>Postgres</li>
          <li>MySQL / Maria DB</li>
        </ul> <br/>
        And for more operations type experience: <br/> <br/>
        <ul class="list-disc">
          <li>AWS / Terraform</li>
          <li>Docker</li>
          <li>Gitlab and Github CI/CD pipelines</li>
        </ul> <br/>
      </div>
    </div>


    <div class="xl:grid-span-1">
      <h5 class="text-left text-2xl"> Reading List </h5> <br/>
      <div class="text-spaced text-justify">
        This is a list of books I've read that I feel I've learned a lot from:
      </div> <br/>
      <ul class="list-disc">
        <li> The Pragmatic Programmer</li>
        <li> The Ruby Pickaxe Book </li>
        <li> Clean Architecture </li>
        <li> Functional Programming Made Easy</li>
        <li> The Kubernetes Book</li>
      </ul>
    </div>
  </div>
</div>
</turbo-frame>
