<turbo-frame id="body">
  <%= render template: "shared/pages/_page_title", locals: { text: "Programming" }%>

  <div class="row my-5">
    <div class="col-6">
      <p class="lead">
        I'm mainly a backend developer, but am currently studying machine learning
      </p>    
    </div>
  </div>

  <div class="row my-5">
    <div class="col-8">
      <h6> Web Development</h6>
      <p class="text-spaced text-justify">
        I've got experience in Python (Django), Ruby on Rails, Typescript and Node APIs, React, Vue.js, PHP (Codeigniter and Laravel).
        I've worked with SQL (like MySQL and Postgres) as well as Mongo DB.
      </p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-8">
      <h6> Excel VBA</h6>
      <p class="text-spaced text-justify">
        My motto for Excel and VBA is, if I can't do it then it can't be done.  I can build anything from simple automation, to more complex integrations on Excel, to over-engineered making Excel do things it wasn't designed to do
        type of projects.
      </p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-8">
      <h6> Other </h6>
      <p class="text-spaced text-justify">
        I've played around with a bit of game development (for fun), as well as building various scripts and other automated bots with public APIs.
      </p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-4"></div>
    <div class="col-8">
      <h5 class="text-right"> Reading List </h5>
      <p class="text-spaced text-justify">
        This is a list of books I've read that I feel I've learned a lot from:
      </p>
      <ul>
        <li> The Pragmatic Programmer</li>
        <li> The Ruby Pickaxe Book </li>
        <li> Clean Architecture </li>
      </ul>
    </div>
  </div>
</turbo-frame>
