<script type="text/x-template" id="fragment-maths-formula-template">
  <div>
    <input type="text" class="w-100" v-model="content"/>
  </div>
</script>

<script>
Vue.component('fragment-maths-formula', {
  template: "#fragment-maths-formula-template",
  props:["init_data"],
  data() {
    return {
      content: ""
    }
  },
  mounted() {
    if(this.init_data.content){
      this.content = this.init_data.content;
    }
  },
  methods: {
    
  }
});
</script>
