<div class="row my-5">
  <div class="col-12">
    <h1 class="text-left">Data Science </h1>
  </div>
</div>

<div class="row my-5">
  <div class="col-6">
    <p class="lead">
      I'm an experienced Insurance pricing Analyst
    </p>

    <p class="text-spaced text-justify">
      I'm experienced in using SAS, Python, Qlikview, Radar, Excel / VBA to perform large and complex statistical analysis of big data sets.  I've worked with acturies to produce 
      automated pricing models for commercial insurance, as well as completed other data analysis projects.
    </p>
    
  </div>
</div>